@import '_config';
@import '_menu';

html{
  font-size: 16px;
}

.hidden{
  display: none;
}

*{
  box-sizing: border-box;
}

body{
  @include background;
  background: $primary-color;
  color: white;
  height:100%;
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  line-height: 1.5;
}
i{
  color: $secondary-color;
  text-shadow: $heavy-shadow;
  margin-top: 1rem;
  padding: 0.4rem;
}
i:hover{
  color:rgb(0, 119, 255);
  @include easeOut();
}
h1, h2, h3 {
  margin:0;
  font-weight: 400;

  &.large-heading{
    font-size: 6rem;
    text-shadow: $heavy-shadow;
  }

  &.small-heading{
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
    font-size: 1.5rem;
    text-shadow: $heavy-shadow;
    border-radius: 0 50px 0 50px;
  }
}

a{
  color: $third-color;
  text-decoration: none;
  text-shadow: $heavy-shadow;
}

a:hover{
  color:rgb(255, 123, 0);
  @include easeOut();
}

header{
  position: fixed;
  z-index: 2;
  width: 100%;
}

.name{
  color: $name-color;
  text-shadow: $heavy-shadow;
}

main{
  padding: 4rem;
  height: 100%;

  &.home{
    overflow: hidden;
    h1{
      margin-top: 20vh;
    }
  }
}

.about{
  text-align: center;
  background-color: black;

  
  .large-heading{
    color: $secondary-color;
  }
  img{
    height:300px;
    border-radius: 200px;
  }
  i{
    color: $name-color;
    font-size: 50px;
  }
  i:hover{
    color: $name-color;
  }
  h2{
    padding: 10px;
  }
  h3{
    font-size: 1.2em;
  }
}

.projects{
  text-align: center;

  .large-heading{
    color: $name-color;
    border-bottom: 4px solid white;
    padding: 20px;
  }

  a{
    color: $secondary-color;
  }
  .main1{
    justify-content: center;
    align-content:center;
  }
  .column {
    display: inline-block;
    margin: auto;
    margin: 20px;
    font-size: medium;
    width: 400px;
    height:450px;
    border-bottom: 3px solid grey;
    padding: 5px;
  }
  .thumb {
    height: 230px;
    width: 400px;
    object-fit: contain;
  }

  i{
    color: yellow;
  }
  i:hover{
    color:rgb(255, 123, 0);
    @include easeOut();
  }
}
.black{
  background-color: black;
}